* {
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem;
  /* align-items: center; */
}
/* Styles for weather app */
.header,
a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-decoration: none;
  color: inherit;
}
a {
  padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.search input,
#base,
#change,
button {
  outline: 0;
  padding: 1px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  background-color: white;
}
